div#key {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    h4 {

    }

}

div#itemList {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            p {
                display: inline-block;
                margin: 0;
            }
        }

        li:hover {
            background-color: rgba(0, 162, 255, 0.411);
            color: white;
        }

        li.selected {
            background-color: rgba(0, 162, 255, 0.411);
            color: white;
        }
    }

    ul#dirs {
        color: rgb(0, 162, 255);
        margin-bottom: 10px;
    }
}